
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuessingGame</title>
</head>
<body>
    <div>
        <div style="text-align:center;width:100%;border:solid">            
            <h1>Guessing Game</h1>
            <form name="frmGame" method="post">
                <input type="text" name="txtGame" placeholder="Value b/w 1-100" required />
                <br /><br />
                <input type="submit" value="Click Me" />
                <br /><br />
                <h2>@ViewBag.info</h2>                
            </form>
        </div>
    </div>
</body>
</html>
